<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="layouts/mainAp">
<body>

<div layout:fragment="all" class="row mt-5">

    <div class="col-12">
        <div th:each="ts : ${tovary}">
            <table style="border:  solid black; display: flex;">
            <tr style="width:30%">

             <td>

                 <p style="color: green" th:if="${ts.handled==true}">
                     <b> Processed requests</b>
                 </p>

                 <p style="color: red" th:unless="${ts.handled==true}">
                     <b> New  requests</b>
                 </p>

                 <p>Request from <b th:text="${ts.username}"></b></p>
                <p th:text="${ts.coursename}"></p>
                <p th:text="${ts.commentary}"></p>
                <p th:text="${ts.phone}"></p>
                 <p th:text="${ts.teacher!=null?ts.teacher.fullname + ' - '+ ts.teacher.price :'---'}"></p>

                <b><a th:href="@{'/getApp/'+${ts.id}}">Details</a></b> </td>
            </tr>
            </table>
        </div>
    </div>

</div>

</body>
</html>